{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <nav>
        <a href="{% url 'car_rental_main_app:main_view' %}"> <img src="{% static 'images/carLogo.jpg' %}"/></a>
        <a href="{% url 'car_rental_main_app:main_view' %}">Home Page</a>
        <a href="{% url 'car_rental_main_app:pass_gen_view' %}">Password Generator Page</a>
    </nav>
    <div class="aboutInfo">
        <h1>About TuwWheels Car Rental</h1>
        <div class="imgDiv">
            <img src="{% static 'images/carLogo.jpg' %}" width="220" height="170" alt="carImage"/>
        </div>
        <h2>Welcome to TuwWheels Car Rental, where we’re committed to providing a seamless and enjoyable car rental experience.</h2>
        <p> With a diverse fleet of well-maintained vehicles, from compact cars to luxury sedans and spacious SUVs, we have the perfect ride for every journey. Our mission is to make transportation easy, affordable, and convenient, whether you’re planning a business trip, a family vacation, or an adventure on the open road. We pride ourselves on exceptional customer service, transparent pricing, and flexible rental options to fit your schedule and needs. Let us be your trusted travel partner on the road ahead!</p>
    </div>
    <hr>


</body>
</html>