{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>
</head>
<body>
    
    <h1> Car rentals offer customers the flexibility to rent vehicles for short or long-term use, making travel or commuting convenient without the need for ownership. They provide a range of vehicles, from budget options to premium cars, catering to various needs, such as business trips, vacations, or temporary replacements. Car rental services are accessible through local branches, websites, or apps, allowing for easy booking and quick pickups.</h1>
    <img src="{%static 'images/car_rental.jpg'%}" alt="car rental img">
</body>
</html>