<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>  Car rentals allow people to borrow cars for a short time, perfect for travel or temporary use. Customers can choose from different types of cars and pay only for the days they need. This is a flexible and easy way to have a car without owning one</h1>
    <a href="/password/generate/">link </a>
</body>
</html>