<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="{% url 'main:about_view' %}" style="margin: 20px;">About</a>
    <a href="{% url 'main:password_generate_view' %}" style="margin: 20px;">Password genrator</a>
    <h1 style="text-align: center;">Home Page</h1>
    <p>Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here.</p>
</body>
</html>