<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viweport" content="width=device-width, inittial-scale=1.0">
    <title>home</title>
</head>
<body>
    <ul>
        <li><a href="{% url 'main:about_view' %}" style="color: #31511E">About Us</a></li>
        <li><a href="{% url 'main:password_view' %}" style="color: #31511E">Generate Password</a></li>

    </ul>
    
    <h1 style="color: #EE66A6">Hello World, This is my new HOME for Car Rentals Website ! we're excited to welcome you here.</h1>
</body>
</html>