<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
        <body>
                <h5> Car Rentals.</h5>
                <p> Car rentals are an easy way to get a temporary vehicle.
                    You can choose the type of car you need and rent it for a short or long period. 
                    Booking is simple, and you can pick up and drop off the car at convenient locations.
                    It’s a cost-effective option without the hassle of maintenance or insurance.
                </p>
        </body>
</html>