<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <nav style="display: flex; padding: 20px">
        <h2 style="margin: 0;"><a href="{% url 'main:about' %}" style="padding: 10px;">About Us</a></h2>
        <h2 style="margin: 0;"><a href="{% url 'main:password_gen' %}" style="padding: 10px;">Generate Password</a></h2>
    </nav>
    
    <hr>
    <h1>Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here.</h1>
    
    
</body>
</html>