<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}  <!-- Load static files -->
</head>
<body>
    <h1> 
        Hello World, This is my new HOME for Car Rentals Website  ! we're excited to welcome you here.
    </h1>

    <img src="{% static 'images/rent.jpg' %}" />

    <a href="{% url 'main:about_view'%}"> About us </a>

    <a href="{% url 'main:generate_pass'%}"> Generate password </a>


</body>
</html>