<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Generator</title>
    
</head>
<body>
    <h1>Password Generator</h1>
    <form action="{% url 'main:generate_pass'%}" method="post">
        {% csrf_token %}
        <input type="text" name="password" placeholder="Generated Password" value="{{ password }}" readonly>
        <br>
        <a href="{% url 'main:generate_pass'%}""><button>Generate Password</button></a>
        
    </form>
</body>
</html>
