<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viweport" content="width=device-width, inittial-scale=1.0">
    <title>password page</title>
 
 
</head>
<body>
    <h1 style="color: #EE66A6;">Password Generator.</h1>
    <p style="color: #A5B68D;">Your generated password is: {{password}}</p>
    <ul>
        <li><a href="{% url 'main:about_view' %}" style="color: #31511E">About Us</a></li>
        <li><a href="{% url 'main:home_view' %}" style="color: #31511E">Home</a></li>
    </ul>
</body>
</html>