
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 15px 0;
    position: relative;
    border-bottom: 1px solid #ddd;
}


nav a:first-of-type {
    position: absolute;
    left: 20px;
}

nav img {
    height: 70px;
    width: 120px;
}

nav a {
    color: #333;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.1rem;
    transition: color 0.5s ease;
}

nav a:hover {
    color: #007bff;
}
.aboutInfo {
    padding: 30px;

}
