<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to Car Rentals!</h1>
    <nav>
        <ul>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'generate_password' %}">Generate Password</a></li>
        </ul>
    </nav>
    <p>Hello World, This is my new HOME for Car Rentals Website! We're excited to welcome you here.</p>
</body>
</html>